/* login */
.login{
    width: 100%;
    background-color: var(--orange);
    padding-bottom: 130px;
    cursor: pointer;
}

.login-main{
    position: relative;
    margin-left: 150px;
    top: 80px;
    display: flex;
}

.login-main2{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}
.login-main p{
    color: var(--wht);
    letter-spacing: 1px;
}

.login-main h1{
    letter-spacing: 3px;
    position: relative;
    top: 20px;
    font-size: 45px;
    color: var(--wht);
}

.login-app-store-and-google-play{
    display: flex;
    align-items: center;
    position: relative;
    top: 50px;
}

/* login left style */
.dog-img img{
    width: auto;
    height: 400px;
    padding-top: 70px;
    position: absolute;
    left: 400px;
}

.login-boxs{
    width: 270px;
    height: 450px;
    background: var(--wht);
    position: relative;
    left: 95px;
    top: -50px;
    border-radius: 30px;
}

.login-boxs img{
    margin-left: 90px;
    position: relative;
    top: 80px;
}


/* input */
.input{
    position: relative;
    top: 130px;
    left: 30px;
}

.login-telefon-number{
    width: 210px;   
    height: 35px;
    border-radius: 40px;
    margin-top: 40px;
    border: none;
    outline: none;
    padding-left: 15px;
    background-color: var(--brow) ;
}

.login-password{
    width: 210px;   
    height: 35px;
    border-radius: 40px;
    border: none;
    outline: none;
    padding-left: 15px;
    background-color: var(--brow) ;
    margin-top: 20px;
}

/* login input button */
.login-input-button{
    position: relative;
    top: 150px;
    left: 60px;
}

.login-input-button button{
    width: 140px;
    color: var(--wht);
    background-color: var(--orange);
    border: none;
    border-radius: 40px;
    height: 35px;
    cursor: pointer;
    transition: .5s;
}
/* login hover */
.login-input-button button:hover{
   box-shadow: var(--box-shadov);
   transition: .5s;
   background-color: transparent;
   border: 1.2px solid var(--orange);
   color: var(--orange);
}
/* @media screen 768px  */
@media screen and (max-width: 768px) {
    .login-main2{
        row-gap: 40px;
        flex-direction: column;
    }
    .login-boxs{
        top: 50px;
        left: 0;
    }
    .dog-img img{
        width: 150px;
        left: -70px;
    }
    .login-boxs{
        position: relative;
        left: 70px;
        width: 230px;
        height: 400px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .login-boxs img{
        position: relative;
        left: -40px;
    }
    .login-telefon-number{
        position: relative;
        left: -20px;
        margin-top: 20px;
    }
    .login-input-button{
        position: relative;
        left: -4px;
    }
}