/* import Foints */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 10px;
}

:root {
  --wht: #fff;
  --orange: #FFC59E;
  --brow: #C3B9B5;
  --blc: #080606;
  --main_bg: #FBF8F8;
  --brw: #59443F;
  --bssh:rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --rgbaa: linear-gradient(to right, #ff7e5f, #feb47b);
  --nav-rg: rgba(0, 0, 0, .6);
  --bxshdw: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --lng: linear-gradient(to right, #ff7e5f, #feb47b);
  --bxshodw: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  --green: #00D4C5;
  --qra2: #d9d9d9;
  --bdr2: 1px solid rgb(240, 239, 239);
  --rgba: rgba(0, 0, 0, .9);
  --box_shadow: rgba(255, 255, 255, .8) 0px 2px 38px, rgba(255, 255, 255, .9) 0px 2px 12px;
  --blc: #080606;
  --grayt: #DDD4F3;
  --black: #000;
  --red: red;
  --kulrang: #f3f0ec;
  --oq: #fff;
  --btn_bg: #e5322d;
}
.loading{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
button,
input{
  border: none;
  outline: none;
}